* {
  padding: 0;
  margin: 0;
}
body {
  background: #1c2023;
}
.header-wrapper-main {
  padding: 20px;
  background: url(/images/HeaderBG.png) no-repeat right/1289px 764px;
  padding-bottom: 187px;
  margin-bottom: 53px;
}
.nav-burger {
  position: relative;
  top: 25px;
  left: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style: none;
  margin-left: 70px;
}
.nav-list-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.header-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  color: #fff;
  width: 538px;
  margin-top: 120px;
}
.header-desc {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #a9c7c7;
  width: 543px;
  margin-top: 25px;
}
.header-btn {
  border-radius: 6px;
  width: 145px;
  height: 41px;
  background: #8856d9;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  margin-top: 30px;
  z-index: 2;
}
.main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  color: #fff;
  margin-bottom: 34px;
}
.card-item-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.card-item-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #a9c7c7;
}
.card-item-list-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #8c96a0;
}
.card-item-price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 19px;
  color: #fff;
}
.card-item-btn {
  border-radius: 6px;
  width: 96px;
  height: 29px;
  background: #8856d9;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 53px;
}
.card-container {
  display: flex;
  column-gap: 16px;
}
.card-item {
  border-radius: 6px;
  width: 316px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
}
.card-item-title {
  margin: 20px 0 14px 0;
  align-self: center;
}
.card-item-subtitle {
  align-self: center;
  margin-bottom: 32px;
}
.card-item-list {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  list-style: none;
}
.card-item-price {
  align-self: flex-end;
  margin-bottom: 14px;
}
.card-item-btn {
  align-self: flex-end;
}
.dual-sence-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #a9c7c7;
  width: 390px;
}
.purple {
  font-weight: 700;
  color: #8856d9;
}
.red {
  font-weight: 700;
  color: #ff4136;
}
.dual-sence-title {
  display: flex;
  justify-self: center;
}
.dual-sence-price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.dual-sence-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  background: #ff4136;
  padding: 14px 19px;
  border: none;
}
.dual-sence-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}
.dual-sence-poster {
  width: 340px;
  height: 309px;
}
.dual-sence-bottom-container {
  display: flex;
  column-gap: 33px;
  margin-top: 26px;
}
.trailer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trailer-container {
  background: url(/images/trailer-bg.png) no-repeat center;
  width: 1515px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trailer-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border-radius: 6px;
  width: 93px;
  height: 33px;
  background: #30373f;
  border: none;
}
.explore-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore-title {
  margin-top: 88px;
}
.explore-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.explore-toggle {
  display: flex;
  column-gap: 15px;
  justify-content: center;
}
.explore-toggle-version {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.explore-toggle-box {
  border-radius: 12px;
  width: 50px;
  height: 20px;
  background: #30373f;
  display: flex;
  align-items: center;
  padding: 4px;
}
.explore-toggle-box-circle {
  border-radius: 100%;
  background: #8856d9;
  width: 19px;
  height: 19px;
}
.explore-price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-top: 15px;
  text-align: center;
}
.explore-card-container {
}
.explore-card {
  display: flex;
  align-items: center;
}
.subtitle-margin {
  margin-top: 115px;
}
.explore-card-poster {
}
.explore-card-params {
}
.explore-card-params-box {
  list-style: none;
}
.explore-card-params-box-setting {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 240%;
  color: #8856d9;
}
.pc {
  color: #fff;
}
.explore-card-params-buy {
  border-radius: 6px;
  width: 96px;
  height: 29px;
  background: #ff4136;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  border: none;
}
.ps {
  color: #fff;
}
.swiper-card {
  border-radius: 6px;
  background: linear-gradient(180deg, #30373f 22.4%, #141615 100%);
  min-width: 620px;
  padding: 20px;
  height: 320px;
}
.swiper-card-name {
  display: flex;
  font-family: var(--font-family);
font-weight: 600;
font-size: 10px;
text-transform: uppercase;
color: #8856d9;
margin-bottom: 7px;
justify-content: space-between;
}
.swiper-card-title {
  font-family: var(--font-family);
font-weight: 600;
font-size: 19px;
text-transform: uppercase;
color: #fff;
margin-bottom: 15px;
}
.swiper-card-mid-container{
  display: flex;
  column-gap: 24px;
}
.swiper-card-desc-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-card-desc {
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 142%;
color: #d9d9d9;
}
.swiper-container{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.swiper-card-btn {
  border-radius: 6px;
width: 96px;
height: 29px;
background: #8c96a0;
font-family: var(--font-family);
font-weight: 500;
font-size: 13px;
text-transform: uppercase;
color: #fff;
border: none;
align-self: flex-end;
}
.FAQ-title{
  text-align: center;
}
.FAQ-container-top{
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}
.FAQ-subtitle {
  font-family: var(--font-family);
font-weight: 600;
font-size: 17px;
text-align: center;
color: #fff;
text-align: start;
display: flex;
align-self: start;
margin-bottom: 13px;
}
.FAQ-line {
  background: #8856d9;
  width: 903px;
height: 2px;
margin-bottom: 13px;
}
.FAQ-info {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #fff;
width: 800px;
margin-bottom: 31px;
position: relative;
}
.FAQ-container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FAQ-list {
  display: flex;
  list-style: none;
  column-gap: 22px;
  margin-top: 156px;
}
.FAQ-list-item {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 169%;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.5);
text-align: left;
}
.FAQ-desc{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
text-align: center;
color: #8c96a0;
width: 825px;
margin-top: 50px;
}
.FAQ-logo{
  margin-top: 38px;
}
.FAQ-date{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #8c96a0;
margin-top: 20px;
}
.FAQ-copyright{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #8c96a0;
margin-top: 13px;
}
.content-container{
  width: 903px;
  display: flex;
  justify-content: space-between;
}
.FAQ-button-text{
  font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
text-align: center;
color: #fff;
position: absolute;
left: 1182px;
margin-top: 5px;
z-index: 5;
}
.open-close{
  width: 30px;
height: 30px;
  border-radius: 6px;
background: #8c96a0;
border: none;
}
.FAQ-bottom-bg{
  position: absolute;
  right: 200px;
  z-index: -1;
}