*{
    padding: 0;
    margin: 0;
}
.page-wrapper{
    background: #1c2023;
}
.header-wrapper{
    background-image: url(/images/1153100\ 1.png);
    justify-self: end;
    width: 1100px;
    height: 600px;
    padding-left: 50px;
    padding-top: 25px;
}
.nav-burger{
    position: relative;
    top: 25px;
    left: 20px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    list-style: none;
    margin-left: 70px;
}
.nav-list-item{
   font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 193%;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.5); 
}
.header-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 100px;
    line-height: 100%;
    color: #fff;
    width: 538px;
}
.header-desc{
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #a9c7c7;
width: 543px;
margin-top: 25px;
}
.header-btn{
    border-radius: 6px;
width: 145px;
height: 41px;
background: #8856d9;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
color: #fff;
border: none;
margin-top: 30px;
}